{% extends "base.html" %}

{% block head %}
  <title>
    Pet-ology | About The Creators
  </title>
{% endblock %}

{% block body %}
<p class = names1>
  <center><h1><p>
    About The Creators
  </h1></center></p>

    <h3><center><div><font color="white">
      Hi! We are the creators of Pet-ology!
      </h3></center></div>
          <h3><center><div>
            These photos are our spirit animals along with short descriptions about us!
              </h3></center></div>
                  <h3><center><div>
                      Thank you!
                        </h3></center></div>

                      <!-- Hanna -->

          <h3><p style = "position:absolute; left:50px; top:735px;">
            Hanna Zamora
            </h3></p>
            <h6><p style = "position:absolute; left:170px; top:800px;">
              Howdy there!
            </h6></p>
              <h6><p style = "position:absolute; left:50px; top:820px;">
                I'm a junior at Redmond High School interested in
                </h6></p>
                <h6><p style = "position:absolute; left:100px; top:840px;">
                  the STEM field and creative writing.
                  </h6></p>
                  <h6><p style = "position:absolute; left:70px; top:860px;">
                    After a while of scrolling through Google,
                      </h6></p>
                      <h6><p style = "position:absolute; left:70px; top:880px;">
                        I've decided that my spirit animal is a hamster.
                        </h6></p>
                        <h6><p style = "position:absolute; left:20px; top:900px;">
                          That's because they eat excessively and sleep during the day,
                          </h6></p>
                          <h6><p style = "position:absolute; left:0px; top:920px;">
                            while at night they gnaw away at their cages and the strings of their sanity :))
                            </h6></p>
            <img src="{{ url_for('static', filename='images/hamster.jpg') }}" width="350px" height="350px"; style = "margin-top: 100px;margin-left: 50px;"> </img>

                                    <!-- Katherine-->

            <h3><p style = "position:absolute; left:800px; top:730px;">
              Katherine Van Horn
              </h3></p>
              <h5><p style = "position:absolute; left:820px; top:800px;">
                        My name is Katherine Van Horn.
              </h5></p>
              <h5><p style = "position:absolute; left:800px; top:820px;">
                 The picture above is my puppy, Charlie.
                 </h5></p>
              <img src="{{ url_for('static', filename='images/Charlie.jpg') }}" width="350px" height="350px"; style = "margin-left: 800px; margin-top: -425px"> </img>

                                  <!-- Lauren -->

        <h3><p style = "position:absolute; left:50px; top:1340px;">
          Lauren Tra
          </h3></p>
          <h6><p style = "position:absolute; left:100px; top:1400px;">
            Hello! My name is Lauren Tra!
            </h6></p>
              <h6><p style = "position:absolute; left:70px; top:1420px;">
                I am a third year student at Mariner High School.
                  </h6></p>
              <h6><p style = "position:absolute; left:10px; top:1440px;">
                I also am attending a summer immersion program at Girls Who Code.
                </h6></p>
                  <h6><p style = "position:absolute; left:50px; top:1460px;">
                    My spirit animal is a koala. I chose a koala because
                      </h6></p>
                        <h6><p style = "position:absolute; left:40px; top:1480px;">
                          I genuinely love sleeping and tend to be lazy at times.
                          </h6></p>
          <img src="{{ url_for('static', filename='images/spirit1.jpg') }}" width="350px" height="350px"; style = "margin-left: 50px; margin-top:200px"> </img>

                                    <!-- megan -->

             <h3><p style = "position:absolute; left:800px; top:1340px;">
               Megan Cheung
               </h3></p>
               <h5><p style = "position:absolute; left:870px; top:1400px;">
                 Hi my name is Megan!
               </h5></p>
               <h5><p style = "position:absolute; left:780px; top:1430px;">
                 My spirit animal is a bird because I'm a small
               </h5></p>
                  <h5><p style = "position:absolute; left:770px; top:1460px;">
                    twerp who just eats, sleeps, and sings off-tune.
                     </h5></p>
               <img src="{{ url_for('static', filename='images/birb.jpg') }}" width="350px" height="350px"; style = "margin-left: 800px; margin-top: -400px"> </img>

                            <!--- yeet -->
                      <p style = "font-family:impact;margin-top:100px"><center><u><h1>
                        Contact Us!
                      </h1></u></center></p>

                      <!-- Hanna's -->

                        <h4><div style = "position:absolute; left:50px;top:1200"><u>
                          Hanna Zamora
                            </h4></u></div>
                                    <h4><div style = "position:absolute; left:50px;top:1620px"><a href="https://www.linkedin.com/in/hanna-zamora-9a854b190/">
                                      LinkedIn
                                      </<h4></a></div>
                                        <h4><div style = "position:absolute; left:50px;top:1650px"><a href="https://www.instagram.com/_zvmmy/">
                                          Instagram
                                          </a></h4></div>

                                          <!-- Katherine -->
                                        <h4><div style = "position:absolute; left:800px;top:1000"><u>
                                          Katherine Van Horn
                                            <h4></u></div>
                                                    <h4><div style = "position:absolute; left:800px;top:1620px"><a href="https://www.linkedin.com/in/katherine-van-horn-a4a54b190/">
                                                      LinkedIn
                                                      </a></h4></div>


                                                      <!-- Lauren -->

                                                    <h4><div style = "position:absolute; left:50px;top:1700px"><u>
                                                      Lauren Tra
                                                        </h4></u></div>
                                                                <h4><div style = "position:absolute; left:50px;top:1730px"><a href="https://www.linkedin.com/in/laurentra/">
                                                                  LinkedIn
                                                                    </h4></a></div>
                                                                      <h4><div style = "position:absolute; left:50px;top:1760px"><a href="https://www.instagram.com/laurxntra/">
                                                                        Instagram
                                                                        </h4></a></div>
                                                                    <!-- Megan -->

                                                                      <h4><div style = "position:absolute; left:800px;top:1700px"><u>
                                                                        Megan Cheung
                                                                        </h4></u></div>
                                                                              <h4><div style = "position:absolute; left:800px;top:1730px"><a href = "https://www.linkedin.com/in/megan-rosanna-cheung-073bb39b/">
                                                                                LinkedIn
                                                                                  </h4></a></div>
                                                                                  <h4><div style = "position:absolute; left:800px;top:1760px"><a href = "https://www.instagram.com/_megancheung_/">
                                                                                    Instagram
                                                                                    </h4></a></div>




{% endblock %}
