{% extends "base.html" %}



{% block body %}


    <!-- this is how we do images -->
    <!-- <img src="{{ url_for('static', filename='images/Charlie.png') }}" width="350px" height="350px"> </img> -->


  <div id="Home">
    <h4> <center> This website is a project dedicated to helping you find your lost pets!
Whether your cat, Mittens, decided to take a joyride a few miles away, or your puppy, Snowball,
wandered off for too long, you and others can collaborate to find them. We also provide
resources for you to find dog-friendly parks you can take your dog too! </center> </h4>
  </div>
  <br>

{% endblock %}
