{% extends 'base.html' %}

{% block head %}
  <title>Pet-ology | Lost and Found</title>

{% endblock %}

{% block body %}

  <center>
  <h1>Lost and Found</h1>
  <div id="map"></div>
  </center>


  <div class="lostpet">
    <div class="col">
      <button type="button" class="btn btn-light"><a style="color: brown;"href="{{ url_for('lost_pet') }}">Lost Pet Form</a></button>
    </div>
  </div>

  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.693849, lng: -122.144860},
          zoom: 8,
        });

      {% for pet in pets %}
      new google.maps.Marker({
         position: {lat: {{ pet.coord.lat }}, lng: {{ pet.coord.lng }}},
         map: map,
         title: "{{ pet.name }}",
      });
      {% endfor %}
    }
  </script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"
async defer></script>
<br>
<br>
{% endblock %}
