{% extends 'base.html' %}

{% block head %}
  <title>Pet-ology | Lost and Found</title>
{% endblock %}

{% block body %}

  <center>
  <h1>Lost and Found</h1>
  </center>
  <center>
  <div id="map"></div>

  <div class="lostpet">
    <div class="col">
      <button type="button" class="btn btn-light"><a style="color: brown;"href="{{ url_for('lost_pet') }}">Lost Pet Form</a></button>
    </div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUHam462KHkSSRNdEfFCtPBeQL1FQ7mG4"
async defer></script>

<script>
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 47.693849, lng: -122.144860},
      zoom: 8
    });
</script>

{% endblock %}
