{% extends 'base.html' %}

{% block head %}
  <title>Pet-ology | Parks and Beaches</title>
{% endblock %}

{% block body %}

  <center>
  <h1>Parks and Beaches</h1>
  </center>
  <div id="map"></div>

  <script>
      var map;
      function initMap() {
        // var MP = {lat: 47.693849, lng: -122.144860};
        // var HP = {lat: }
        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: 47.693849, lng: -122.144860},
          zoom: 10,
        });


        {% for park in parks %}
        new google.maps.Marker({
           position: {lat: {{ park.coord.lat }}, lng: {{ park.coord.lng }}},
           map: map,
           title: "{{ park.name }}",
        });
        {% endfor %}
      }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"
  async defer></script>
  <br>
  <br>


{% endblock %}
