{% extends 'base.html' %}

{% block head %}
  <title>Pet-ology | Parks and Beaches</title>
{% endblock %}

{% block body %}

  <center>
  <h1>Parks and Beaches</h1>
  </center>
  <div id="map"></div>

  <script>
      var map;
      function initMap() {
        // var MP = {lat: 47.693849, lng: -122.144860};
        // var HP = {lat: }
        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: 47.693849, lng: -122.144860},
          zoom: 10,
        });


        {% for park in parks %}
        new google.maps.Marker({
           position: {lat: {{ park.coord.lat }}, lng: {{ park.coord.lng }}},
           map: map,
           title: "{{ park.name }}",
        });
        {% endfor %}
      }
  </script>
  <p>
  PARKS:
  <br> Marymoor Park: 6046 West Lake Sammamish Pkwy NE, Redmond, WA 98052
  <br> Jasper's Dog Park: 11225 NE 120th St, Kirkland, WA 98034
  <br> Warren G. Magnuson Park Off Leash Area: 7400 Sand Point Way NE, Seattle, WA 98115
  <br> Grass Lawn Park: 7031 148th Ave NE, Redmond, WA 98052
  <br> Mark Twain Park: 10625 132nd Ave NE, Kirkland, WA 98033
  <br> Sixty Acres Park: 15200 NE 116th St, Redmond, WA 98052
<br>
<br>
  TRAILS:
<br>   Hartman Park: 17300 NE 104th St, Redmond, WA 98052
<br>   Bear Creek Park: Evans Creek Trail, Redmond, WA 98053
<br>   Bridle Trails State Park: 5300 116th Ave NE, Kirkland, WA 98033
<br>
<br>
  BEACHES:
<br>   Richmond Beach Saltwater Park: 2021 NW 190th St, Shoreline, WA 98177
<br>   Luther Burbank Park: 2040 84th Ave SE, Mercer Island, WA 98040
<br>   Idylwood Park: 3650 West Lake Sammamish Pkwy NE, Redmond, WA 98052
<br>   Tambark Creek Park: 17217 35th Ave SE, Bothell, WA 98012
  </p>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"
  async defer></script>
  <br>
  <br>


{% endblock %}
